body {
	background-color: #121212;
}

.bigGame {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	width: 576px;
	height: 576px;
	margin: 0 auto;
}

.tinyGame {
	border: 2px solid white;
	box-sizing: border-box;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tinySquare {
	box-sizing: border-box;
	border: 1px solid white;
}